<%= component_controller do %>
    <div class="navbar col-span-1 shadow-lg xl:col-span-3 bg-neutral-focus text-neutral-content rounded-box">
        <div class="flex justify-start px-2 mx-2">
            <div class="items-stretch hidden lg:flex">
                <%= link_to "todo", root_path %>
            </div>
        </div>
        <div class="dropdown dropdown-end">
            
        </div>
    </div>
<% end %>
