<%= component_controller do %>
<div class="badge badge-lg fixed bottom-0" data-controller="window-size">
    <div class="grid grid-cols-2 mt-3">
      <div class="mt-3 text-gray-500">
        <span>Width : </span>
        <span data-window-size-target="width"></span>
      </div>
      <div class="mt-3 text-gray-500">
        <span>Height : </span>
        <span data-window-size-target="height"></span>
      </div>
    </div>
  </div>
<% end %>
