<%= component "expo_page", title: "Todo", component: %w[todos todo create_todo] do |item| %>
<%= item.with :subtitle do %>
    this is a todo application
<% end %>
<div class="">
    <%= component "todos" %>
    <%= component "test_devise" %>
  </div>
<% end %>