<%= component_controller do %>
    <%= reflex_tag(
        :execute,
        :button,
        "Perform long running action!",
        class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white",
        type: "button"
    ) %>
<% if @loading %>
<p>Executing...</p>
<p>
    <strong>Time left:</strong> <%= @counter %> seconds
</p>
<% else %>
<p>Waiting...</p>
<% end %>
<% end %>